extends ../layouts/default.pug
include ../mixins/product-item.pug

block main
  // Section 4
  .section-4(style="padding-top: 60px;")
    .container
      h2.box-title Kết quả tìm kiếm
      .inner-wrap
        if tourList && tourList.length > 0
          each item in tourList
            +product-item(item)
        else
          p Không tìm thấy kết quả.
  // End Section 4