extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Contact Information

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Filter
      .inner-item.inner-date
        input(type="date")
        span -
        input(type="date")
      .inner-item.inner-reset
        <i class="fa-solid fa-rotate-left"></i>
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Action --
            option(value="") Active
            option(value="") Inactive
            option(value="") Delete
        .inner-item
          button Apply
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search")
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("", "")
            Email
            th.text-left Created At
            th.text-left Actions
        tbody
          tr
            td.text-left
              +checkbox-30("", "")
            td.text-left levana@gmail.com
            td.text-left 16:40 - 12/12/2024
            td.text-left
              .box-actions
                a(href="#" class="inner-remove")
                  <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Showing 1 - 9 of 78
    select(class="inner-pagination")
      option Page 1
      option Page 2
      option Page 3
  //- End Section 7
