extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Create Role Group

  .section-8
    form(id="setting-role-create-form")
      .inner-group
        label.inner-label(for="name") Role Name *
        input(type="text" id="name" name="name")
      .inner-group
        label.inner-label(for="description") Description
        input(type="text" id="description" name="description")
      .inner-group
        label.inner-label Permissions
        .inner-checkbox-list
          each item, index in permissionList
            .inner-checkbox-item
              +checkbox-30("permissions", `permissions-${index}`, item.value)
              label(for=`permissions-${index}`) #{item.label}
      .inner-button.inner-two-col
        button Create
    .inner-back
      a(href=`/${pathAdmin}/setting/role/list`) Back to list
