@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --color-primary: #4880FF;
  --color-text: #202224;
}

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

input, button, select, textarea {
  outline: none;
}

/* page-account */
.page-account {
  background-image: url("../images/bg-account.svg");
  background-size: cover;
  background-position: center;
  padding: 50px 10px;
  min-height: 100vh;
}
/* End page-account */

/* form-account */
.form-account {
  background-color: white;
  border-radius: 24px;
  border: 1px solid #B9B9B9;
  padding: 90px 57px;
  max-width: 630px;
  margin: 0 auto;
}

.form-account .inner-title {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
}

.form-account .inner-desc {
  margin-bottom: 40px;
  text-align: center;
  opacity: 0.8;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
}

.form-account .inner-group {
  margin-bottom: 30px;
}

.form-account .inner-group .inner-label {
  display: block;
  opacity: 0.8;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  margin-bottom: 15px;
}

.form-account .inner-group .inner-control {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background-color: #F1F4F9;
  border: 1px solid #D8D8D8;
  padding: 0 16px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
}

.form-account .inner-group .inner-control::placeholder {
  color: #A6A6A6;
}

.form-account .inner-meta {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-account .inner-meta .inner-check {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 12px;
}

.form-account .inner-meta .inner-check .just-validate-error-label {
  width: 100%;
}

.form-account .inner-meta .inner-check input {
  width: 24px;
  height: 24px;
}

.form-account .inner-meta .inner-check label {
  opacity: 0.6;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
}

.form-account .inner-meta .inner-link {
  opacity: 0.6;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
}

.form-account .inner-meta .inner-link:hover {
  opacity: 1;
  color: var(--color-primary);
}

.form-account .inner-button {
  width: 100%;
  height: 56px;
  background-color: var(--color-primary);
  border-radius: 8px;
  opacity: 0.9;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border: 0;
  cursor: pointer;
}

.form-account .inner-button:hover {
  opacity: 1;
}

.form-account .inner-more {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

.form-account .inner-more span {
  font-weight: 600;
  opacity: 0.65;
  color: var(--color-text);
}

.form-account .inner-more a {
  color: #5A8CFF;
  text-decoration: underline;
  font-weight: 700;
  margin-left: 10px;
}

@media (max-width: 575.98px) {
  .form-account {
    padding: 40px 20px;
  }
}
/* End form-account */

/* checkbox-wrapper-30 */
.checkbox-wrapper-30 .checkbox {
  --bg: #fff;
  --brdr: #d1d6ee;
  --brdr-actv: #1e2235;
  --brdr-hovr: #bbc1e1;
  --dur: calc((var(--size, 2)/2) * 0.6s);
  display: inline-block;
  width: calc(var(--size, 1) * 22px);
  position: relative;
}

.checkbox-wrapper-30 .checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}

.checkbox-wrapper-30 .checkbox > * {
  position: absolute;
}

.checkbox-wrapper-30 .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: calc(var(--size, 1) * 4px);
  border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
}

.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 2);
}

.checkbox-wrapper-30 .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
}

.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdrClr: var(--brdr-actv);
  transition-delay: calc(var(--dur) /1.3);
}

.checkbox-wrapper-30 .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
}

.checkbox-wrapper-30 .checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke, var(--border-active));
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}

.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}
/* End checkbox-wrapper-30 */

/* Header */
.header {
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #E0E0E0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
}

.header .inner-logo {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .inner-logo a {
  font-weight: 800;
  font-size: 24px;
}

.header .inner-logo a span:nth-child(1) {
  color: var(--color-primary);
}

.header .inner-logo a span:nth-child(2) {
  color: var(--color-text);
}

.header .inner-wrap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 30px;
}

.header .inner-notify {
  position: relative;
}

.header .inner-notify img {
  height: 25px;
  width: auto;
}

.header .inner-notify span {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #F93C65;
  border-radius: 50%;
  font-weight: 700;
  font-size: 12px;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
}

.header .inner-account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .inner-account .inner-avatar img {
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.header .inner-account .inner-text {
  flex: 1;
}

.header .inner-account .inner-name {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #404040;
}

.header .inner-account .inner-role {
  font-weight: 600;
  font-size: 12px;
  color: #565656;
}

.header .inner-button-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .header .inner-logo {
    width: auto;
    margin-left: 30px;
  }

  .header .inner-button-menu {
    display: inline-block;
    font-size: 24px;
  }
}

@media (max-width: 575.98px) {
  .header .inner-logo {
    margin-left: 15px;
  }

  .header .inner-wrap {
    margin-right: 15px;
    gap: 20px;
  }
}
/* End Header */

/* Sider */
.sider {
  width: 240px;
  height: calc(100vh - 70px);
  background-color: white;
  border-right: 1px solid #E0E0E0;
  position: fixed;
  top: 70px;
  left: 0;
  overflow-y: auto;
}

.sider .inner-menu {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.sider .inner-menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  margin-left: 24px;
  margin-right: 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  position: relative;
}

.sider .inner-menu a::before {
  content: "";
  width: 9px;
  height: 100%;
  display: block;
  background-color: transparent;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: -28.5px;
}

.sider .inner-menu a.active, .sider .inner-menu a:hover {
  background-color: var(--color-primary);
  color: white;
}

.sider .inner-menu a.active::before, .sider .inner-menu a:hover::before {
  background-color: var(--color-primary);
}

.sider .inner-menu a i {
  font-size: 16px;
}

.sider .inner-menu .inner-logout {
  color: #F93C65;
}

.sider hr {
  border: 1px solid #E0E0E0;
  margin: 0;
}

.sider-overlay {
  display: none;
}

@media (max-width: 991.98px) {
  .sider {
    display: none;
  }

  .sider.active {
    display: block;
    z-index: 10000;
    top: 0;
    height: 100%;
  }

  .sider-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000088;
    width: 100%;
    height: 100%;
    z-index: 9999;
    cursor: pointer;
  }
}
/* End Sider */

/* Main */
.main {
  background-color: #F5F6FA;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  position: absolute;
  top: 70px;
  left: 240px;
  padding: 30px;
}

@media (max-width: 991.98px) {
  .main {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .main {
    padding: 30px 15px;
  }
}
/* End Main */

/* Box Title */
.box-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
}
/* End Box Title */

/* Section 1 */
.section-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section-1 .inner-item {
  background-color: #fff;
  border-radius: 14px;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section-1 .inner-item .inner-icon {
  width: 60px;
}

.section-1 .inner-item .inner-icon img {
  width: 100%;
  height: auto;
}

.section-1 .inner-item .inner-content .inner-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
  margin-bottom: 4px;
}

.section-1 .inner-item .inner-content .inner-number {
  font-weight: 700;
  font-size: 28px;
  color: var(--color-text);
}

@media (max-width: 1199.98px) {
  .section-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .section-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* End Section 1 */

/* Section 2 */
.section-2 {
  margin-top: 30px;
  background-color: white;
  border-radius: 14px;
  padding: 32px;
}

.section-2 .inner-head {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.section-2 .inner-head .inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
}

.section-2 .inner-head .inner-filter {
  border: 1px solid #D5D5D5;
  height: 28px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
  border-radius: 4px;
}

.section-2 .inner-chart {
  height: 350px;
}

.section-2 .inner-chart canvas {
  width: 100% !important;
  height: 100% !important;
}
/* End Section 2 */

/* Section 3 */
.section-3 {
  margin-top: 30px;
  background-color: white;
  border-radius: 14px;
  padding: 32px;
}

.section-3 .inner-title-main {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
}
/* End Section 3 */

/* Text */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: var(--color-primary);
}
/* End Text */

/* Table 1 */
.table-1 {
  overflow-x: auto;
}

.table-1 table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1076px;
}

.table-1 thead th {
  background-color: #F1F4F9;
  padding: 14px 24px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.table-1 thead th:first-child {
  border-radius: 12px 0 0 12px;
}

.table-1 thead th:last-child {
  border-radius: 0 12px 12px 0;
}

.table-1 tbody td {
  padding: 10px 24px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  font-weight: 600;
  font-size: 14px;
  color: rgba(32, 34, 36, 0.8);
}
/* End Table 1 */

/* Tour List */
.tour-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tour-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tour-item .inner-image {
  width: 76px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  object-fit: cover;
}

.tour-item .inner-content {
  flex: 1;
}

.tour-item .inner-content .inner-name {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  opacity: 0.8;
}

.tour-item .inner-content .inner-desc {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
  opacity: 0.8;
}
/* End Tour List */

/* Tag */
.tag {
  background-color: #ebebeb;
  display: inline-block;
  border-radius: 4.5px;
  padding: 6px 24px;
  font-weight: 700;
  font-size: 12px;
  color: var(--color-text);
}

.tag-orange {
  background-color: rgba(255, 168, 86, 0.2);
  color: #FFA756;
}

.tag-green {
  background-color: rgba(0, 182, 155, 0.2);
  color: #00B69B;
}

.tag-red {
  background-color: rgba(239, 55, 38, 0.2);
  color: #EF3826;
}
/* End Tag */

/* Section 4 */
.section-4 {
  margin-bottom: 15px;
}

.section-4 .inner-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #D5D5D5;
  background-color: #fff;
  border-radius: 14px;
}

.section-4 .inner-item {
  padding: 23.75px 24px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-right: 1px solid #D5D5D5;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.section-4 .inner-item:last-child {
  border-right: 0;
}

.section-4 .inner-label i {
  font-size: 22px;
}

.section-4 .inner-item select,
.section-4 .inner-item input[type="date"] {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  border: 0;
  outline: none;
  cursor: pointer;
}

.section-4 .inner-item input[type="date"] {
  width: 110px;
}

.section-4 .inner-reset {
  font-weight: 600;
  color: #EA0234;
  cursor: pointer;
}

@media (max-width: 1199.98px) {
  .section-4 .inner-item {
    padding: 10px 14px;
  }
}
/* End Section 4 */

/* Section 5 */
.section-5 {
  margin-bottom: 30px;
}

.section-5 .inner-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px 20px;
}

.section-5 .inner-change-status {
  display: inline-flex;
  border: 1px solid #D5D5D5;
  background-color: #fff;
  border-radius: 14px;
}

.section-5 .inner-change-status .inner-item {
  padding: 23.75px 24px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-right: 1px solid #D5D5D5;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.section-5 .inner-change-status .inner-item:last-child {
  border: 0;
}

.section-5 .inner-change-status .inner-item select {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  border: 0;
  outline: none;
  cursor: pointer;
}

.section-5 .inner-change-status .inner-item button {
  font-weight: 600;
  color: #EA0234;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.section-5 .inner-search {
  background-color: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 14px;
  padding: 15px 24px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  width: 366px;
}

.section-5 .inner-search i {
  font-size: 20px;
}

.section-5 .inner-search input {
  border: 0;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  flex: 1;
}

.section-5 .inner-search input::placeholder {
  color: #979797;
}

.section-5 .inner-button-create a {
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  height: 100%;
  padding: 15px 50px;
  border-radius: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section-5 .inner-button-trash a {
  background-color: #EF382633;
  color: #EF3826;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  height: 100%;
  padding: 15px 30px;
  border-radius: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .section-5 .inner-change-status .inner-item {
    padding: 15px 20px;
  }
}

@media (max-width: 575.98px) {
  .section-5 .inner-search {
    width: 100%;
  }
}
/* End Section 5 */

/* Section 6 */
.section-6 {
  margin-bottom: 15px;
}
/* End Section 6 */

/* Table 2 */
.table-2 {
  overflow-x: auto;
}

.table-2 table {
  background-color: white;
  border: 1px solid #B9B9B9;
  border-radius: 14px;
  width: 100%;
  overflow: hidden;
  min-width: 1141px;
}

.table-2 thead th {
  padding: 14px;
  background-color: #FCFDFD;
  border-bottom: 1px solid #D5D5D5;
  font-weight: 800;
  font-size: 14px;
  color: var(--color-text);
}

.table-2 tbody td {
  padding: 8px 14px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.6);
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.table-2 tbody tr:last-child td {
  border-bottom: 0;
}

.table-2 .inner-avatar {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  object-fit: cover;
}

.table-2 .inner-small {
  font-size: 12px;
}
/* End Table 2 */

/* Box Actions */
.box-actions {
  background-color: #FAFBFD;
  border: 1px solid #D5D5D5;
  display: inline-flex;
  border-radius: 8px;
}

.box-actions a {
  padding: 8.5px 16.5px;
  display: inline-block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  border-right: 1px solid #D5D5D5;
}

.box-actions .inner-remove {
  color: #EF3826;
}

.box-actions a:last-child {
  border-right: 0;
}
/* End Box Actions */

/* Section 7 */
.section-7 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-7 .inner-label {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.section-7 .inner-pagination {
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  background-color: #FAFBFD;
  outline: none;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}
/* End Section 7 */

/* Section 8 */
.section-8 {
  background-color: white;
  border: 1px solid #B9B9B9;
  border-radius: 14px;
  padding: 50px;
}

.section-8 form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.section-8 .inner-two-col {
  grid-column: span 2;
}

.section-8 .inner-group .inner-label {
  font-weight: 600;
  font-size: 14px;
  color: #606060;
  margin-bottom: 11px;
  display: block;
}

.section-8 .inner-group input,
.section-8 .inner-group select,
.section-8 .inner-group textarea {
  background-color: #F5F6FA;
  border-radius: 4px;
  border: 1px solid #D5D5D5;
  padding: 0 22px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
  width: 100%;
}

.section-8 .inner-group input,
.section-8 .inner-group select {
  height: 52px;
}

.section-8 .inner-group textarea {
  height: 160px;
  padding-top: 18px;
}

.section-8 .inner-button {
  text-align: center;
}

.section-8 .inner-button button {
  width: 274px;
  height: 56px;
  background-color: var(--color-primary);
  border-radius: 12px;
  opacity: 0.9;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: 0;
  cursor: pointer;
}

.section-8 .inner-button button:hover {
  opacity: 1;
}

.section-8 .inner-back {
  text-align: center;
  margin-top: 30px;
}

.section-8 .inner-back a {
  color: #5A8CFF;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}

.section-8 .inner-input-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-8 .inner-input-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-8 .inner-input-item label {
  font-weight: 600;
  font-size: 14px;
  color: #606060;
  width: 89px;
}

.section-8 .inner-input-item input {
  flex: 1;
}

.section-8 .inner-checkbox-list {
  background-color: #F5F6FA;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  padding: 14px 23px;
  height: 166px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.section-8 .inner-checkbox-item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.section-8 .inner-checkbox-item input {
  width: 20px;
  height: 20px;
  padding: 0;
}

.section-8 .inner-checkbox-item label {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.section-8 .inner-schedule-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-8 .inner-schedule-item {
  background-color: white;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  padding: 20px;
}

.section-8 .inner-schedule-head {
  display: flex;
  gap: 15px;
}

.section-8 .inner-schedule-button {
  width: 52px;
  height: 52px;
  background-color: #F5F6FA;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  font-size: 18px;
  color: #A6A6A6;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section-8 .inner-schedule-button.inner-remove {
  color: #EF3826;
}

.section-8 .inner-schedule-item.hidden .inner-schedule-button.inner-more i::before {
  content: "\f106";
}

.section-8 .inner-schedule-head input {
  flex: 1;
}

.section-8 .inner-schedule-body {
  margin-top: 15px;
}

.section-8 .inner-schedule-item.hidden .inner-schedule-body {
  display: none;
}

.section-8 .inner-schedule-body textarea {
  height: 300px;
}

.section-8 .inner-schedule-create {
  background-color: #D5D5D5;
  opacity: 0.9;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
}

.section-8 .inner-order-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-8 .inner-order-item {
  display: flex;
  gap: 12px;
}

.section-8 .inner-order-image {
  width: 115px;
  height: 115px;
  border-radius: 6px;
  overflow: hidden;
}

.section-8 .inner-order-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-8 .inner-order-content {
  flex: 1;
}

.section-8 .inner-order-name {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.section-8 .inner-order-text {
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
  margin-top: 3px;
}

.section-8 .inner-order-total {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.section-8 .inner-order-price {
  font-weight: 700;
  color: #EF3826;
}

.section-8 .inner-upload-image {
  width: 150px;
  height: 150px;
}

.section-8 .inner-upload-image .filepond--credits {
  display: none;
}

.section-8 .inner-upload-image .filepond--drop-label label {
  font-size: 50px;
}

.section-8 .inner-upload-image .filepond--root {
  margin-bottom: 0;
  height: 100% !important;
}

.section-8 .inner-upload-image .filepond--root .filepond--drop-label {
  min-height: 100%;
}

@media (max-width: 767.98px) {
  .section-8 {
    padding: 20px;
  }

  .section-8 form {
    grid-template-columns: 1fr;
  }

  .section-8 .inner-two-col {
    grid-column: span 1;
  }
}

@media (max-width: 575.98px) {
  .section-8 .inner-schedule-head {
    flex-wrap: wrap;
  }

  .section-8 .inner-schedule-head input {
    order: 1;
    flex: none;
    width: 100%;
  }
}
/* End Section 8 */

/* Section 9 */
.section-9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section-9 .inner-item {
  background-color: #fff;
  border-radius: 14px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section-9 .inner-item .inner-icon {
  width: 70px;
  height: 70px;
  background-color: #E7EDFF;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #396AFF;
}

.section-9 .inner-item .inner-text {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-text);
}

.section-9 .inner-item:hover .inner-text {
  color: var(--color-primary);
}

@media (max-width: 1199.98px) {
  .section-9 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .section-9 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
/* End Section 9 */

/* Section 10 */
.section-10 {
  border: 1px solid #B9B9B9;
  background-color: #fff;
  border-radius: 14px;
  padding: 80px;
  text-align: center;
}

.section-10 .inner-image {
  width: 390px;
  height: auto;
  margin-bottom: 60px;
}

.section-10 .inner-title {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 30px;
}

.section-10 .inner-back {
  display: inline-block;
  background-color: var(--color-primary);
  border-radius: 8px;
  opacity: 0.9;
  padding: 15px 104px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.section-10 .inner-back:hover {
  opacity: 1;
}

@media (max-width: 767.98px) {
  .section-10 {
    padding: 40px 30px;
  }

  .section-10 .inner-image {
    width: 60%;
    margin-bottom: 30px;
  }

  .section-10 .inner-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .section-10 .inner-back {
    padding: 15px 40px;
    font-size: 16px;
  }
}
/* End Section 10 */

/* Just Validate */
.just-validate-error-field {
  border-color: red !important;
}

.just-validate-success-field {
  border-color: green !important;
}

.just-validate-error-label {
  font-size: 13px;
}
/* End Just Validate */

.section-8  form  .inner-upload-image-multi  .filepond--root  {
  width :  300px ;
  max-height :  600px ;
}

.section-8  form  .inner-upload-image-multi  .filepond--drop-label  label  {
  font-weight :  500 ;
  font-size :  50px ;
  cursor :  pointer ;
}

.section-8  form  .inner-upload-image-multi  .filepond--credits  {
  display :  none ;
}